@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1024px) {
  body {
    -ms-grid-rows: auto 387px 650px auto auto;
    grid-template-rows: auto 387px 650px auto auto;
  }
}

@media (min-width: 1220px) {
  body {
    -ms-grid-rows: auto 440px 650px auto auto;
    grid-template-rows: auto 440px 650px auto auto;
  }
}

h1,
h2,
h3,
h4,
ul li,
button {
  cursor: pointer;
}

.gradient_btn {
  width: 166px;
  height: 46px;
  border: none;
  border-radius: 33px;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#30d35c), to(#2ab6d9));
  background: linear-gradient(to left, #30d35c, #2ab6d9);
}

.gradient_btn:hover {
  opacity: 0.6;
}

.articles .article_wrapper img {
  width: 80%;
}

header {
  position: relative;
  z-index: 1000;
  background: white;
}

header .header_wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "logo menu";
  padding: 40px 30px;
}

header .header_wrapper .logo img {
  width: 132px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

header .header_wrapper .menu_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header .header_wrapper .menu_background .hamburger_menu {
  position: absolute;
  width: 300px;
  max-height: 39%;
  height: 39%;
  top: 80px;
  background: white;
  left: 5%;
  right: 5%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

header .header_wrapper .menu_background .hamburger_menu ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

header .header_wrapper .hide {
  display: none;
}

header .header_wrapper .hamburger_icon {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  justify-self: flex-end;
}

header .header_wrapper button {
  display: none;
}

@media (min-width: 800px) {
  header .header_wrapper {
    grid-template-areas: "logo menu CTA";
    -ms-grid-columns: 150px auto 167px;
    grid-template-columns: 150px auto 167px;
  }

  header .header_wrapper img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  header .header_wrapper .hamburger_icon {
    display: none;
  }

  header .header_wrapper .menu_background {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    display: block;
    /* -ms-grid-row: 1;
    -ms-grid-column: 2; */
    grid-area: menu;
  }

  header .header_wrapper .menu_background .hamburger_menu {
    position: relative;
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0;
    background: none;
    left: 0;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header .header_wrapper .menu_background .hamburger_menu ul {
    width: 100%;
    list-style: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 42%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  header .header_wrapper .menu_background .hamburger_menu ul li {
    margin-right: 30px;
  }

  header .header_wrapper .menu_background .hamburger_menu ul li:hover:after {
    display: block;
    cursor: pointer;
    content: "";
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, right top, left top, from(#2ab6d9), to(#30d35c));
    background: linear-gradient(to left, #2ab6d9, #30d35c);
  }

  header .header_wrapper button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: CTA;
    display: block;
    justify-self: flex-end;
  }

  header .header_wrapper button:hover {
    background: -webkit-gradient(linear, right top, left top, from(rgba(48, 211, 92, 0.5)), to(rgba(42, 182, 217, 0.5)));
    background: linear-gradient(to left, rgba(48, 211, 92, 0.5), rgba(42, 182, 217, 0.5));
  }
}

@media (min-width: 1024px) {
  header .header_wrapper {
    padding: 19px 50px;
  }
}

@media (min-width: 1440px) {
  header .header_wrapper {
    padding: 28px 164px;
  }

  header .header_wrapper img {
    width: 144px;
  }
}

header .hide {
  display: none;
}

.hide {
  display: none;
}

.hero {
  background: #f9f9f9;
}

.hero .hero_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hero .hero_wrapper .left {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-bottom: 3em;
}

.hero .hero_wrapper .left .left_wrapper {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .hero_wrapper .left .left_wrapper h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0.3em;
}

.hero .hero_wrapper .left .left_wrapper h1,
.hero .hero_wrapper .left .left_wrapper p {
  text-align: center;
}

.hero .hero_wrapper .left .left_wrapper p {
  color: #9698a5;
  font-weight: 300;
  line-height: 1.8em;
}

.hero .hero_wrapper .left .left_wrapper button {
  margin: 31px 0;
}

.hero .hero_wrapper .right {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero .hero_wrapper .right::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 424px;
  max-height: 500px;
  background: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center -90px;
  background-size: 100% 100%;
  z-index: -1;
}

.hero .hero_wrapper .right img {
  -webkit-transform: translateY(-29%);
  transform: translateY(-29%);
  width: 360px;
}

@media (min-width: 380px) {
  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 550px;
    max-height: 550px;
    background: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center -90px;
    background-size: 100%;
    z-index: -1;
  }

  .hero .hero_wrapper .right img {
    -webkit-transform: translateY(-29%);
    transform: translateY(-29%);
    width: 95%;
  }
}

@media (min-width: 500px) {
  .hero .hero_wrapper .left .left_wrapper {
    padding: 0 38px;
  }
}

@media (min-width: 700px) {
  .hero .hero_wrapper .left .left_wrapper h1 {
    font-size: 2.6em;
  }

  .hero .hero_wrapper .left .left_wrapper p {
    font-size: 1.1em;
  }

  .hero .hero_wrapper .left .left_wrapper button {
    width: 250px;
    height: 55px;
    font-size: 0.8em;
  }

  .hero .hero_wrapper .right img {
    width: 88%;
  }

  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center -7px;
    background-size: 100% 100%;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center -7px;
    background-size: 100% 100%;
    z-index: -1;
  }

  .hero .hero_wrapper .right img {
    -webkit-transform: translateY(-29%);
    transform: translateY(-29%);
    width: 88%;
    max-width: 620px;
  }
}

@media (min-width: 1024px) {
  .hero .hero_wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }

  .hero .hero_wrapper .left .left_wrapper {
    margin-top: 60px;
    padding: 0px 41px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero .hero_wrapper .left .left_wrapper h1 {
    font-size: 2.5em;
    text-align: left;
    font-weight: 300;
  }

  .hero .hero_wrapper .left .left_wrapper p {
    line-height: 1.5em;
    font-size: 1em;
    text-align: left;
    width: 423px;
  }

  .hero .hero_wrapper .left .left_wrapper button {
    width: 166px;
    height: 44px;
    font-size: 0.8em;
  }

  .hero .hero_wrapper .right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 580px;
    max-height: 1034px;
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 10px -145px;
    background-size: cover;
    z-index: -1;
  }

  .hero .hero_wrapper .right img {
    position: absolute;
    -webkit-transform: translate(110px, -68px);
    transform: translate(110px, -68px);
    width: 88%;
    max-width: 695px;
  }
}

@media (min-width: 1220px) {
  .hero .hero_wrapper .left .left_wrapper {
    margin-top: 60px;
    padding: 0px 41px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero .hero_wrapper .left .left_wrapper h1 {
    font-size: 2.5em;
    text-align: left;
    font-weight: 300;
  }

  .hero .hero_wrapper .left .left_wrapper p {
    line-height: 1.5em;
    font-size: 1em;
    text-align: left;
    width: 423px;
  }

  .hero .hero_wrapper .left .left_wrapper button {
    width: 166px;
    height: 44px;
    font-size: 0.8em;
  }

  .hero .hero_wrapper .right {
    width: 100%;
  }

  .hero .hero_wrapper .right::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 635px;
    max-height: 635px;
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 100px -145px;
    background-size: 100% 100%;
    z-index: -1;
  }

  .hero .hero_wrapper .right img {
    position: absolute;
    -webkit-transform: translate(140px, -84px);
    transform: translate(140px, -84px);
    width: 85%;
    max-width: 695px;
  }
}

@media (min-width: 1440px) {
  .hero .hero_wrapper .left .left_wrapper {
    padding-left: 164px;
  }

  .hero .hero_wrapper .left .left_wrapper p {
    width: 442px;
  }
}

.easybank {
  background: #f3f4f6;
}

.easybank .easybank_wrapper {
  text-align: center;
  padding: 64px 23px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 52px;
  color: #9698a5;
}

.easybank .easybank_wrapper h2 {
  margin-bottom: 21px;
  color: #2d314d;
  font-weight: 300;
}

.easybank .easybank_wrapper p {
  font-weight: 300;
  line-height: 1.8em;
}

.easybank .easybank_wrapper .easybank_text h2 {
  font-size: 2.5em;
}

.easybank .easybank_wrapper .easybank_options {
  display: -ms-grid;
  display: grid;

  grid-template-rows: repeat(4, auto);
  row-gap: 32px;
}

.easybank .easybank_wrapper .easybank_options img {
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .easybank .easybank_wrapper {
    padding: 64px 100px;
  }
}

@media (min-width: 1024px) {
  .easybank .easybank_wrapper {
    text-align: left;
    padding: 108px 41px;
    row-gap: 74px;
  }

  .easybank .easybank_wrapper .easybank_text h2 {
    font-size: 2em;
  }

  .easybank .easybank_wrapper .easybank_text p {
    width: 624px;
  }

  .easybank .easybank_wrapper .easybank_options {
    grid-template-columns: repeat(4, auto);
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }

  .easybank .easybank_wrapper .easybank_options .option p {
    font-size: 0.8em;
  }

  .easybank .easybank_wrapper .easybank_options .option h2 {
    font-size: 1em;
  }
}

@media (min-width: 1220px) {
  .easybank .easybank_wrapper .easybank_options .option p {
    font-size: 0.85em;
  }

  .easybank .easybank_wrapper .easybank_options .option h2 {
    font-size: 1.3em;
  }
}

@media (min-width: 1440px) {
  .easybank .easybank_wrapper {
    padding: 110px 164px;
  }

  .easybank .easybank_wrapper .easybank_options {
    -webkit-column-gap: 25px;
    column-gap: 25px;
  }
}

.articles {
  background: #f9f9f9;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding: 84px 21px;
  row-gap: 33px;
}

.articles h1 {
  text-align: center;
  font-weight: 300;
}

.articles .article_wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 21px;
  -ms-grid-column-align: center;
  justify-self: center;
}

.articles .article_wrapper img {
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.articles .article_wrapper .article {
  border-radius: 6px;
  border: 1px solid white;
  background: #ffffff;
  width: 100%;
  height: 100%;
  max-width: 373px;
  max-height: 455px;
}

.articles .article_wrapper .article img {
  width: 100%;
  height: 234px;
  max-height: 455px;
}

.articles .article_wrapper .article .content {
  padding: 28px 27px;
}

.articles .article_wrapper .article .content h3 {
  font-weight: 300;
  font-size: 0.87em;
  margin: 12px 0;
}

.articles .article_wrapper .article .content h3:hover {
  color: #30d35c;
}

.articles .article_wrapper .article .content small,
.articles .article_wrapper .article .content p {
  font-size: 0.8em;
  font-weight: 300;
  color: #9698a5;
}

@media (min-width: 768px) {
  .articles h1 {
    font-size: 2em;
  }

  .articles .article_wrapper {

    grid-template-rows: repeat(2, auto);

    grid-template-columns: repeat(2, auto);
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }
}

@media (min-width: 1220px) {
  .articles {
    padding: 93px 41px;
  }

  .articles h1 {
    text-align: left;
  }

  .articles .article_wrapper {
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 1440px) {
  .articles {
    padding: 93px 164px;
  }

  .articles .article_wrapper {
    -webkit-column-gap: 26px;
    column-gap: 26px;
  }
}

footer {
  background: #2d314d;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 37px 68px;
  row-gap: 30px;
}

footer ul {
  list-style: none;
}

footer ul li:hover {
  color: #30d35c;
}

footer .top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .top_menu svg {
  margin-bottom: 25px;
}

footer .top_menu ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .top_menu ul li {
  margin-right: 13px;
}

footer .top_menu ul li i {
  font-size: 26px;
  color: #ffffff;
}

footer .top_menu ul li i:hover {
  color: #30d35c;
}

footer .middle_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

footer .middle_menu ul li {
  margin-bottom: 18px;
  font-weight: 300;
}

footer .middle_menu ul:nth-of-type(2) li:nth-of-type(3) {
  margin-bottom: 0;
}

footer .end_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .end_menu p {
  color: #f3f4f6;
  text-align: center;
  font-size: 0.8em;
  margin-top: 25px;
  margin-bottom: 1em;
}

@media (min-width: 1024px) {
  footer {
    -ms-grid-columns: auto 420px auto;
    grid-template-columns: auto 420px auto;
    -ms-grid-rows: none;
    grid-template-rows: none;
    padding: 37px 41px;
  }

  footer .top_menu {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  footer .top_menu svg {
    margin-bottom: 48px;
  }

  footer .middle_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  footer .middle_menu ul {
    width: 30%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  footer .middle_menu ul li {
    margin-bottom: 0;
    line-height: 1.8em;
  }

  footer .end_menu button:hover {
    opacity: 0.9;
  }
}

@media (min-width: 1440px) {
  footer {
    padding: 48px 164px;
  }
}